<%= month_calendar start_date: @start_date, 
     td: month_calendar_td_options,
     previous_link: link_to(raw("&laquo;"), @previous),
     next_link: link_to(raw("&raquo;"), @next) do |date| %>

     <% day = Olday.find_by(date: date) %>
     <span class='date'>
     <% if day %>
       <%= link_to date.day, "#{date.strftime("%Y-%m")}/#{date.day}" %>
     <% else %>
       <%= date.day %>
     <% end %>
     </span>
     <br/>
     <%= day ? day.last_spammer_count : "-" %>

<% end %>

<%= link_to "All Spam Accounts List", list_path(date: (params[:month] || Date.current.strftime('%Y-%m'))) %> <br/>
<%= link_to "Go to Current Month", spamdays_path %>
