<h1>
  <%= link_to "<<", @day.previous_path %>
    OL spam report for <%= @day.date %>
  <%= link_to ">>", @day.next_path %>
</h1>
<%= link_to "Back to calendar view", spamdays_path(month: params[:month]) %><br/>
<%= link_to "Spammers as list", list_path(date: @day.date) if @day.spammers_found %>

<div class='day-details'>
  <p>
  First checked: <% if @day.created_at %> <%= @day.created_at %> <% else %> <b>UNCHECKED</b> <% end %><br/>
  <% unless @day.created_at == @day.updated_at %>
    Last checked: <%= @day.updated_at %><br/>
  <% end %>
  <%= @day.new_books %> books created by <%= @day.book_adding_accounts %> users.<br/>
  <%= @day.new_accounts %> new accounts created. <%= @day.new_book_adding_accounts %> added books.</br>
  <%= @day.max_spammer_count %> spammers.
    <% if true || @day.max_spammer_count != @day.last_spammer_count %>
       ( <%= @day.max_spammer_count - @day.last_spammer_count %> have been cleaned since first check )
    <% end %>
  <br/><!--
  <%= @day.max_spammer_count.to_f / @day.new_accounts %>% of new accounts were spam.<br/>
  -->
  <br/>
  </p>
</div>
<% if @day.created_at %>
  <div class="spammers raw-output">
    <h3>Spammers</h3>
    <% @day.spammers.each do |k, v| %>
      <%= admin_link(k) %> <%= account_link(k) %></br>
      <%= show_books(v) %></br>
    <% end %>
  </div>

  <div class="good raw-output">
    <h3>Good</h3>
    <% @day.clear_users.each do |k, v| %>
      <%= account_link(k) %></br>
      <%= show_books(v) %> </br>
    <% end %>
  </div>
<% end %>
<%= link_to "Back to calendar view", spamdays_path(month: params[:month]) %>
